.container
    .row
        .col-sm-12
            h2.page-header {{ 'changepassword.title' | translate }}

            include ../partials/flash.jade

            form.form-horizontal(ng-controller="ChangePasswordController", name="changePasswordForm", role='form', novalidate)
                div.form-group(style='margin-bottom: 2em;')
                    label.col-sm-2.control-label {{ 'changepassword.form.input.password' | translate }}
                    div.col-sm-10
                        input.form-control(ng-model='user.password', name="password", type="password", ng-minlength='6', placeholder='Password' required)
                        span.text-danger(ng-show='changePasswordForm.password.$dirty && changePasswordForm.old_password.$error.required') {{ 'changepassword.form.error.password.required' | translate }}
                        span.text-danger(ng-show='changePasswordForm.password.$dirty && changePasswordForm.old_password.$error.minlength') {{ 'changepassword.form.error.password.minlength' | translate }}
                    
                div.form-group
                    label.col-sm-2.control-label {{ 'changepassword.form.input.new_password' | translate }}
                    div.col-sm-10
                        input.form-control(ng-model='user.new_password', name="new_password", type="password", ng-minlength='6', placeholder='Password' required)
                        span.text-danger(ng-show='changePasswordForm.new_password.$dirty && changePasswordForm.new_password.$error.required') {{ 'changepassword.form.error.new_password.required' | translate }}
                        span.text-danger(ng-show='changePasswordForm.new_password.$dirty && changePasswordForm.new_password.$error.minlength') {{ 'changepassword.form.error.new_password.minlength' | translate }}
                    
                div.form-group
                    label.col-sm-2.control-label {{ 'changepassword.form.input.repeat_password' | translate }}
                    div.col-sm-10
                        input.form-control(ng-model='user.repeat_password', name="repeat_password", type="password", ng-minlength='6', placeholder='Password' required)
                        span.text-danger(ng-show='changePasswordForm.repeat_password.$dirty && changePasswordForm.repeat_password.$error.required') {{ 'changepassword.form.error.repeat_password.required' | translate }}
                        span.text-danger(ng-show='changePasswordForm.repeat_password.$dirty && changePasswordForm.repeat_password.$error.minlength') {{ 'changepassword.form.error.repeat_password.minlength' | translate }}
                    
                div.form-group
                    div.col-sm-offset-2.col-sm-10  
                        button.btn.btn-primary(ng-click="changePassword(user)", name="changeBtn", ng-disabled="changePasswordForm.$invalid") {{ 'changepassword.form.button.submit' | translate }}
                        a.btn.btn-link(ui-sref='/') {{ 'changepassword.form.button.cancel' | translate }}
