doctype html
html
  head
    title= title
    base(href="/")

    link(rel='icon', type='image/png', href='/img/brand/favicon.ico')

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href='/') 
            img(src='/img/brand/logo.png', alt='NiceJS')

    .container
      .row
        .col-sm-12
            h2.page-header OOPS!
            p I'm sorry but something when wrong!

    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')