doctype html
html
  head
    title NiceJs
    base(href="/")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    link(rel='icon', type='image/png', href='/img/brand/favicon.ico')

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap-material-design/dist/css/material.min.css')
    link(rel='stylesheet', href='/css/style.css')

    //- Angular Base
    script(src='lib/angular/angular.min.js')

    //- Angular Plugins
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='lib/angular-flash/dist/angular-flash.min.js')
    script(src="lib/angular-translate/angular-translate.min.js")
    script(src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
    script(src="lib/angular-simple-storage/dist/angular-simpleStorage.min.js")

    //- Angluar App Registration
    script(src="dist/app.min.js")

  body(ng-app="nicejs" ng-controller="RootController")
    
    include ./partials/navbar.jade

    div(ui-view)

    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='bootstrap-material-design/dist/js/material.min.js')
